nav{
    background-color: rgb(255, 167, 3);
    display: flex;
    justify-content: space-between; 
    .logo{
        width: 70px;
        height: 70px;
        object-fit: cover;
        box-shadow: 5px 5px 15px 5px #000000;
    }
}
.fa-bars{
        display: none;
    } 
nav ul {
    
  list-style: none;
  padding: 10px;
  display: flex;
  a {
    color: black;
    text-decoration: none;
    display: block;
    margin: 5px;
    font-size: 20px;
  }
}


@media(max-width:768px){
    .fa-bars{
        
        display: block;
        margin: 10px;
        font-size: 50px;
        color: #000000;
        order: -1;

    }
    .navegador .fa-bars:hover + ul{
        left: 0;
    }
    .navegador ul{
        position: fixed;
        top: 0;
        left: -300%;
        width: 70vw;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        z-index: 3;
        transition: 0.5s;
    }
    .navegador ul:hover{
        left: 0;
    }
}
.carrucel{
    width: auto;
   height: 600px;
   padding: 20px;
   img{
    height: 550px;
    background-size: cover;
    }
    h5{
    color: white;
    }
    p{
        color: white;
    }
}
.titulo h1{
    width: 100%;
    color: chocolate;
    font-size: 40px;
    text-align: center;
    padding: 15px;
    background-color:rgba(250, 234, 6, 0.829);
    box-shadow: 5px 5px 15px 5px #000000;
} 
.titulo h2{
    font-size: 30px;
    text-align: center;
    background-color:rgba(250, 234, 6, 0.829);
}
/* ------- tarjeta incio-----*/
.inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*----- finn -------*/