.publicidad {
  background-color: white;
    z-index: 1;
    top: 40px;
    position: fixed;
    right: 30px;
    text-align: center;
  }

/*--publicidad flotante--*/
.publicidad{
  background-color: white;
  z-index: 2;
  top: 40px;
  position: fixed;
  right: 30px;
  text-align: center;
  h5{
      color: black;
  }
  p{
      color: black;
  }
  img{
      width: 300px;
      height: 200px;    
  }
}
/* ----- fin --- */