
.imagenesus{
    display: grid;
    
    margin: 10px;
    gap: 10px;
    grid-template-columns:repeat(4, 25%) ;
    grid-template-rows: repeat(8, 200px);
    grid-template-areas: "img10 img10 img2 img2"
                         "img1 img1 img3 img3"
                         "img4 img4 img3 img3"
                         "img4 img4 img5 img5"
                         "img6 img6 img5 img5"
                         "img6 img6 img7 img7"
                         "img8 img8 img7 img7"
                         "img8 img8 img9 img9";
}




.img1{
    grid-area: img1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img2{
    grid-area: img2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img3{
    grid-area: img3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img4{
    grid-area: img4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img5{
    grid-area: img5;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img6{
    grid-area: img6;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img7{
    grid-area: img7;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img8{
    grid-area: img8;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img10{
    grid-area: img10;
    width: 100%;
    height: 100%;
}