$bg-color: #ae1010;
$dark: activo;

body{
    
}
nav{
    grid-area: nav;
}
header{
    grid-area: header;
}
.carrucel{
    grid-area: carrucel;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
